@font-face {
  font-family: 'suco-icons';
  src: url('font/suco-icons.eot?90730418');
  src: url('font/suco-icons.eot?90730418#iefix') format('embedded-opentype'),
       url('font/suco-icons.woff2?90730418') format('woff2'),
       url('font/suco-icons.woff?90730418') format('woff'),
       url('font/suco-icons.ttf?90730418') format('truetype'),
       url('font/suco-icons.svg?90730418#suco-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'suco-icons';
    src: url('../font/suco-icons.svg?90730418#suco-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "suco-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-sleep:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sunglasses:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-music:before { content: '\e814'; } /* '' */
.icon-mail:before { content: '\e816'; } /* '' */
.icon-heart:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e819'; } /* '' */
.icon-star-empty:before { content: '\e81a'; } /* '' */
.icon-user:before { content: '\e81c'; } /* '' */
.icon-users:before { content: '\e81d'; } /* '' */
.icon-video:before { content: '\e81e'; } /* '' */
.icon-videocam:before { content: '\e81f'; } /* '' */
.icon-picture:before { content: '\e820'; } /* '' */
.icon-camera:before { content: '\e821'; } /* '' */
.icon-camera-alt:before { content: '\e822'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-crown-plus:before { content: '\e845'; } /* '' */
.icon-crown-minus:before { content: '\e846'; } /* '' */
.icon-marquee:before { content: '\e847'; } /* '' */
.icon-to-start-alt:before { content: '\e891'; } /* '' */
.icon-fast-fw:before { content: '\e892'; } /* '' */
.icon-fast-bw:before { content: '\e893'; } /* '' */
.icon-eject:before { content: '\e894'; } /* '' */
.icon-target:before { content: '\e895'; } /* '' */
.icon-signal:before { content: '\e896'; } /* '' */
.icon-award:before { content: '\e897'; } /* '' */
.icon-inbox:before { content: '\e898'; } /* '' */
.icon-globe:before { content: '\e899'; } /* '' */
.icon-cloud:before { content: '\e89a'; } /* '' */
.icon-flash:before { content: '\e89b'; } /* '' */
.icon-umbrella:before { content: '\e89c'; } /* '' */
.icon-flight:before { content: '\e89d'; } /* '' */
.icon-leaf:before { content: '\e89e'; } /* '' */
.icon-font:before { content: '\e89f'; } /* '' */
.icon-bold:before { content: '\e8a0'; } /* '' */
.icon-italic:before { content: '\e8a1'; } /* '' */
.icon-text-height:before { content: '\e8a2'; } /* '' */
.icon-text-width:before { content: '\e8a3'; } /* '' */
.icon-align-left:before { content: '\e8a4'; } /* '' */
.icon-align-center:before { content: '\e8a5'; } /* '' */
.icon-align-right:before { content: '\e8a6'; } /* '' */
.icon-align-justify:before { content: '\e8a7'; } /* '' */
.icon-list:before { content: '\e8a8'; } /* '' */
.icon-indent-left:before { content: '\e8a9'; } /* '' */
.icon-indent-right:before { content: '\e8aa'; } /* '' */
.icon-scissors:before { content: '\e8ab'; } /* '' */
.icon-briefcase:before { content: '\e8ac'; } /* '' */
.icon-off:before { content: '\e8ad'; } /* '' */
.icon-road:before { content: '\e8ae'; } /* '' */
.icon-list-alt:before { content: '\e8af'; } /* '' */
.icon-qrcode:before { content: '\e8b0'; } /* '' */
.icon-barcode:before { content: '\e8b1'; } /* '' */
.icon-book:before { content: '\e8b2'; } /* '' */
.icon-adjust:before { content: '\e8b3'; } /* '' */
.icon-tint:before { content: '\e8b4'; } /* '' */
.icon-check:before { content: '\e8b5'; } /* '' */
.icon-asterisk:before { content: '\e8b6'; } /* '' */
.icon-gift:before { content: '\e8b7'; } /* '' */
.icon-fire:before { content: '\e8b8'; } /* '' */
.icon-magnet:before { content: '\e8b9'; } /* '' */
.icon-chart-bar:before { content: '\e8ba'; } /* '' */
.icon-credit-card:before { content: '\e8bb'; } /* '' */
.icon-floppy:before { content: '\e8bc'; } /* '' */
.icon-megaphone:before { content: '\e8bd'; } /* '' */
.icon-key:before { content: '\e8be'; } /* '' */
.icon-truck:before { content: '\e8bf'; } /* '' */
.icon-note:before { content: '\e8c2'; } /* '' */
.icon-note-beamed:before { content: '\e8c3'; } /* '' */
.icon-music-1:before { content: '\e8c4'; } /* '' */
.icon-search-1:before { content: '\e8c5'; } /* '' */
.icon-flashlight:before { content: '\e8c6'; } /* '' */
.icon-mail-1:before { content: '\e8c7'; } /* '' */
.icon-heart-1:before { content: '\e8c8'; } /* '' */
.icon-heart-empty-1:before { content: '\e8c9'; } /* '' */
.icon-star-1:before { content: '\e8ca'; } /* '' */
.icon-star-empty-1:before { content: '\e8cb'; } /* '' */
.icon-user-1:before { content: '\e8cc'; } /* '' */
.icon-users-1:before { content: '\e8cd'; } /* '' */
.icon-user-add:before { content: '\e8ce'; } /* '' */
.icon-video-1:before { content: '\e8cf'; } /* '' */
.icon-picture-1:before { content: '\e8d0'; } /* '' */
.icon-camera-1:before { content: '\e8d1'; } /* '' */
.icon-layout:before { content: '\e8d2'; } /* '' */
.icon-menu-1:before { content: '\e8d3'; } /* '' */
.icon-check-1:before { content: '\e8d4'; } /* '' */
.icon-cancel-1:before { content: '\e8d5'; } /* '' */
.icon-cancel-circled-1:before { content: '\e8d6'; } /* '' */
.icon-cancel-squared:before { content: '\e8d7'; } /* '' */
.icon-plus-1:before { content: '\e8d8'; } /* '' */
.icon-plus-circled-1:before { content: '\e8d9'; } /* '' */
.icon-plus-squared-1:before { content: '\e8da'; } /* '' */
.icon-minus-1:before { content: '\e8db'; } /* '' */
.icon-minus-circled-1:before { content: '\e8dc'; } /* '' */
.icon-minus-squared-1:before { content: '\e8dd'; } /* '' */
.icon-help-1:before { content: '\e8de'; } /* '' */
.icon-help-circled-1:before { content: '\e8df'; } /* '' */
.icon-info-1:before { content: '\e8e0'; } /* '' */
.icon-info-circled-1:before { content: '\e8e1'; } /* '' */
.icon-back:before { content: '\e8e2'; } /* '' */
.icon-home-1:before { content: '\e8e3'; } /* '' */
.icon-link-1:before { content: '\e8e4'; } /* '' */
.icon-attach-1:before { content: '\e8e5'; } /* '' */
.icon-lock-1:before { content: '\e8e6'; } /* '' */
.icon-lock-open-1:before { content: '\e8e7'; } /* '' */
.icon-eye-1:before { content: '\e8e8'; } /* '' */
.icon-tag-1:before { content: '\e8e9'; } /* '' */
.icon-bookmark-1:before { content: '\e8ea'; } /* '' */
.icon-bookmarks:before { content: '\e8eb'; } /* '' */
.icon-flag-1:before { content: '\e8ec'; } /* '' */
.icon-thumbs-up-1:before { content: '\e8ed'; } /* '' */
.icon-thumbs-down-1:before { content: '\e8ee'; } /* '' */
.icon-download-1:before { content: '\e8ef'; } /* '' */
.icon-upload-1:before { content: '\e8f0'; } /* '' */
.icon-upload-cloud-1:before { content: '\e8f1'; } /* '' */
.icon-reply-1:before { content: '\e8f2'; } /* '' */
.icon-reply-all-1:before { content: '\e8f3'; } /* '' */
.icon-forward-1:before { content: '\e8f4'; } /* '' */
.icon-quote:before { content: '\e8f5'; } /* '' */
.icon-code-1:before { content: '\e8f6'; } /* '' */
.icon-export-1:before { content: '\e8f7'; } /* '' */
.icon-pencil-1:before { content: '\e8f8'; } /* '' */
.icon-feather:before { content: '\e8f9'; } /* '' */
.icon-print-1:before { content: '\e8fa'; } /* '' */
.icon-retweet-1:before { content: '\e8fb'; } /* '' */
.icon-keyboard-1:before { content: '\e8fc'; } /* '' */
.icon-comment-1:before { content: '\e8fd'; } /* '' */
.icon-chat-1:before { content: '\e8fe'; } /* '' */
.icon-bell-1:before { content: '\e8ff'; } /* '' */
.icon-attention-1:before { content: '\e900'; } /* '' */
.icon-alert:before { content: '\e901'; } /* '' */
.icon-vcard:before { content: '\e902'; } /* '' */
.icon-address:before { content: '\e903'; } /* '' */
.icon-location-1:before { content: '\e904'; } /* '' */
.icon-map-1:before { content: '\e905'; } /* '' */
.icon-direction-1:before { content: '\e906'; } /* '' */
.icon-compass-1:before { content: '\e907'; } /* '' */
.icon-cup:before { content: '\e908'; } /* '' */
.icon-trash-1:before { content: '\e909'; } /* '' */
.icon-doc-1:before { content: '\e90a'; } /* '' */
.icon-docs-1:before { content: '\e90b'; } /* '' */
.icon-doc-landscape:before { content: '\e90c'; } /* '' */
.icon-doc-text-1:before { content: '\e90d'; } /* '' */
.icon-doc-text-inv-1:before { content: '\e90e'; } /* '' */
.icon-newspaper-1:before { content: '\e90f'; } /* '' */
.icon-book-open:before { content: '\e910'; } /* '' */
.icon-folder-1:before { content: '\e912'; } /* '' */
.icon-archive:before { content: '\e913'; } /* '' */
.icon-box-1:before { content: '\e914'; } /* '' */
.icon-rss-1:before { content: '\e915'; } /* '' */
.icon-phone-1:before { content: '\e916'; } /* '' */
.icon-cog-1:before { content: '\e917'; } /* '' */
.icon-tools:before { content: '\e918'; } /* '' */
.icon-share-1:before { content: '\e919'; } /* '' */
.icon-shareable:before { content: '\e91a'; } /* '' */
.icon-basket-1:before { content: '\e91b'; } /* '' */
.icon-bag:before { content: '\e91c'; } /* '' */
.icon-calendar-1:before { content: '\e91d'; } /* '' */
.icon-login-1:before { content: '\e91e'; } /* '' */
.icon-logout-1:before { content: '\e91f'; } /* '' */
.icon-mic-1:before { content: '\e920'; } /* '' */
.icon-mute-1:before { content: '\e921'; } /* '' */
.icon-sound:before { content: '\e922'; } /* '' */
.icon-volume:before { content: '\e923'; } /* '' */
.icon-clock-1:before { content: '\e924'; } /* '' */
.icon-lamp:before { content: '\e926'; } /* '' */
.icon-light-down:before { content: '\e927'; } /* '' */
.icon-light-up:before { content: '\e928'; } /* '' */
.icon-adjust-1:before { content: '\e929'; } /* '' */
.icon-block-1:before { content: '\e92a'; } /* '' */
.icon-resize-full-1:before { content: '\e92b'; } /* '' */
.icon-resize-small-1:before { content: '\e92c'; } /* '' */
.icon-popup:before { content: '\e92d'; } /* '' */
.icon-publish:before { content: '\e92e'; } /* '' */
.icon-window:before { content: '\e92f'; } /* '' */
.icon-arrow-combo:before { content: '\e930'; } /* '' */
.icon-down-circled-1:before { content: '\e931'; } /* '' */
.icon-left-circled-1:before { content: '\e932'; } /* '' */
.icon-right-circled-1:before { content: '\e933'; } /* '' */
.icon-up-circled-1:before { content: '\e934'; } /* '' */
.icon-down-open-1:before { content: '\e935'; } /* '' */
.icon-left-open-1:before { content: '\e936'; } /* '' */
.icon-right-open-1:before { content: '\e937'; } /* '' */
.icon-up-open-1:before { content: '\e938'; } /* '' */
.icon-left-open-mini:before { content: '\e93a'; } /* '' */
.icon-right-open-mini:before { content: '\e93b'; } /* '' */
.icon-up-open-mini:before { content: '\e93c'; } /* '' */
.icon-down-open-big:before { content: '\e93d'; } /* '' */
.icon-left-open-big:before { content: '\e93e'; } /* '' */
.icon-right-open-big:before { content: '\e93f'; } /* '' */
.icon-up-open-big:before { content: '\e940'; } /* '' */
.icon-down-1:before { content: '\e941'; } /* '' */
.icon-left-1:before { content: '\e942'; } /* '' */
.icon-right-1:before { content: '\e943'; } /* '' */
.icon-up-1:before { content: '\e944'; } /* '' */
.icon-down-dir-1:before { content: '\e945'; } /* '' */
.icon-left-dir-1:before { content: '\e946'; } /* '' */
.icon-right-dir-1:before { content: '\e947'; } /* '' */
.icon-up-dir-1:before { content: '\e948'; } /* '' */
.icon-down-bold:before { content: '\e949'; } /* '' */
.icon-left-bold:before { content: '\e94a'; } /* '' */
.icon-right-bold:before { content: '\e94b'; } /* '' */
.icon-up-bold:before { content: '\e94c'; } /* '' */
.icon-left-thin:before { content: '\e94e'; } /* '' */
.icon-right-thin:before { content: '\e94f'; } /* '' */
.icon-up-thin:before { content: '\e950'; } /* '' */
.icon-ccw-1:before { content: '\e951'; } /* '' */
.icon-cw-1:before { content: '\e952'; } /* '' */
.icon-arrows-ccw:before { content: '\e953'; } /* '' */
.icon-level-down-1:before { content: '\e954'; } /* '' */
.icon-level-up-1:before { content: '\e955'; } /* '' */
.icon-shuffle-1:before { content: '\e956'; } /* '' */
.icon-loop:before { content: '\e957'; } /* '' */
.icon-switch:before { content: '\e958'; } /* '' */
.icon-play-1:before { content: '\e959'; } /* '' */
.icon-stop-1:before { content: '\e95a'; } /* '' */
.icon-pause-1:before { content: '\e95b'; } /* '' */
.icon-record:before { content: '\e95c'; } /* '' */
.icon-to-end-1:before { content: '\e95d'; } /* '' */
.icon-to-start-1:before { content: '\e95e'; } /* '' */
.icon-fast-forward:before { content: '\e95f'; } /* '' */
.icon-fast-backward:before { content: '\e960'; } /* '' */
.icon-dot:before { content: '\e97f'; } /* '' */
.icon-dot-2:before { content: '\e980'; } /* '' */
.icon-dot-3:before { content: '\e981'; } /* '' */
.icon-brush-1:before { content: '\e982'; } /* '' */
.icon-users-2:before { content: '\e9bc'; } /* '' */
.icon-user-add-outline:before { content: '\e9bd'; } /* '' */
.icon-user-add-1:before { content: '\e9be'; } /* '' */
.icon-user-delete-outline:before { content: '\e9bf'; } /* '' */
.icon-user-delete:before { content: '\e9c0'; } /* '' */
.icon-cancel-circled-2:before { content: '\e9d5'; } /* '' */
.icon-plus-outline:before { content: '\e9d6'; } /* '' */
.icon-plus-2:before { content: '\e9d7'; } /* '' */
.icon-heart-empty-2:before { content: '\eae7'; } /* '' */
.icon-star-3:before { content: '\eae8'; } /* '' */
.icon-user-3:before { content: '\eae9'; } /* '' */
.icon-video-3:before { content: '\eaea'; } /* '' */
.icon-picture-3:before { content: '\eaeb'; } /* '' */
.icon-camera-3:before { content: '\eaec'; } /* '' */
.icon-ok-2:before { content: '\eaed'; } /* '' */
.icon-ok-circle:before { content: '\eaee'; } /* '' */
.icon-cancel-3:before { content: '\eaef'; } /* '' */
.icon-cancel-circle:before { content: '\eaf0'; } /* '' */
.icon-plus-3:before { content: '\eaf1'; } /* '' */
.icon-quote-left-1:before { content: '\eb06'; } /* '' */
.icon-quote-right-1:before { content: '\eb07'; } /* '' */
.icon-quote-left-alt:before { content: '\eb08'; } /* '' */
.icon-quote-right-alt:before { content: '\eb09'; } /* '' */
.icon-pencil-3:before { content: '\eb0a'; } /* '' */
.icon-search-8:before { content: '\ee2f'; } /* '' */
.icon-ok-6:before { content: '\ee3a'; } /* '' */
.icon-ok-circle-1:before { content: '\ee3b'; } /* '' */
.icon-cancel-7:before { content: '\ee3c'; } /* '' */
.icon-cancel-circle-2:before { content: '\ee3d'; } /* '' */
.icon-plus-circle-1:before { content: '\ee3e'; } /* '' */
.icon-minus-circle-1:before { content: '\ee3f'; } /* '' */
.icon-folder-6:before { content: '\ee51'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rupee:before { content: '\f156'; } /* '' */
.icon-yen:before { content: '\f157'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-won:before { content: '\f159'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-try:before { content: '\f195'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-paragraph:before { content: '\f1dd'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-shekel:before { content: '\f20b'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-viacoin:before { content: '\f237'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */